.recommended-friends {
  margin: 30px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: var(--font-color-grey);
}

.recommended-friends span {
  font-size: 18px;
  color: var(--font-color-grey);
  display: block;
  text-align: center;
  margin: 110px 0;
}
.open-chat {
  margin-bottom: 70px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-grey);
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: var(--main-border);
}
.open-post__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtag {
  text-transform: uppercase;
  color: var(--font-color-grey);
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: var(--font-color-grey);
  font-size: 16px;
}
.open-post__members .divider {
  width: 1.2px;
  height: 15px;
  background-color: var(--font-color-grey);
  margin: 0 5px;
}
.open-post__member-status {
  color: #fda9de;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.open-post__heart-count {
  right: 10px;
  bottom: 11px;
  color: white;
  background-color: rgba(85, 84, 84, 0.7);
  padding: 5px;
  border-radius: 20px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  font-size: 14px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 2s linear infinite;
}
